<launch>
	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find fotokite_description)/robots/robot.xacro'"/>

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">	
            <param name="use_gui" value="FALSE"/>
	</node>

        <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
            <remap from="/joint_states" to="/fotokite/joint_states" />
        </node>

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find fotokite_description)/config/fotokite.rviz"/>

</launch>
