<?xml version="1.0"?>
<robot name="fotokite" xmlns:xacro="http://www.ros.org/wiki/xacro">


    <!-- ***************** -->
    <!-- Imported elements -->
    <!-- ***************** -->

    <!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->


    <!--Import Fotokite arm -->
    <xacro:include filename="$(find arm_description)/urdf/fotokite.urdf.xacro" />
    <xacro:include filename="$(find arm_description)/urdf/fotokite.gazebo" />

    <!--xacro:fotokite_arm parent="base_link">
        <origin xyz="-0.25 0.10 0.275" rpy="0 0 0" />
    </xacro:fotokite_arm-->

    <!--xacro:macro name="summit_xl"-->

        <link name="world"/>

        <!-- Fotokite -->
        <fotokite_arm parent="world">
                <origin xyz="0 0 0" rpy="0 0 0" />
        </fotokite_arm>

    <!--/xacro:macro-->

    <!--xacro:summit_xl/-->


</robot>

