<?xml version="1.0"?>
<launch>

    <!-- Controllers -->
    <!-- Load joint controller configurations from YAML file to parameter server -->
    <!--rosparam file="$(find arm_gazebo)/config/fotokite_control.yaml" command="load"/-->

    <!-- load the controllers -->
    <!--node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" ns="/fotokite" args=" joint_state_controller
                                                module_1_yaw_pitch_position_controller
                                                module_1_pitch_roll_position_controller
                                                module_1_roll_prismatic_position_controller
                                                module_1_prismatic_module_2_yaw_position_controller
                                                module_2_yaw_pitch_position_controller
                                                module_2_pitch_roll_position_controller
                                                module_2_roll_prismatic_position_controller
                                                module_2_prismatic_module_3_yaw_position_controller
                                                module_3_yaw_pitch_position_controller
                                                module_3_pitch_roll_position_controller
                                                module_3_roll_prismatic_position_controller
                                                module_3_prismatic_wrist_pitch_position_controller
                                                wrist_pitch_yaw_position_controller
                                                wrist_yaw_roll_position_controller
                                                wrist_roll_finger_position_controller-->
                                                <!--timeout 50" /-->

    <!-- convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
          respawn="false" output="screen">
          <remap from="/joint_states" to="/fotokite/joint_states" />
    </node>

</launch>
